.menu_container{
    padding:0.3em 5%;

    .menu_content{
        .menu{
            .menu-infor{
                background: #000;
                margin: 0.9em 0;
                padding:0.5em 0.9em;
                border-radius: 8px;

                p{
                    font-size: 1.3em;

                    span{
                        font-weight: bold;
                        color:chocolate;
                    }
                }
            }
        }
    }
}


@media screen and (width >=926px){
    .menu_container{
        padding: 0.5em 3%;
        .menu_content{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap:2.3em;
            width: 95%;

           .menu-infor{
            cursor: pointer;

            p{
                padding: 0 2.2em;
            }
           }

           .menu-infor:hover {
            transform: scale(1.1);
          }
        }
    }
}