* {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

body {
  background: #919191;
  color: #000;
  overflow-x: hidden;
}

nav {
  background-color: #000;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  height: 12vh;
  justify-content: space-around;
  align-items: center;
  color: #fff;
}
nav .logo {
  text-transform: uppercase;
  color: rgb(44, 194, 214);
  font-size: 1.3rem;
  animation: jiggle 0.95s ease-in-out infinite;
}
nav .links {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 40%;
}
nav .links li a {
  text-decoration: none;
  color: #fff;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
nav .links li a:after {
  content: "";
  display: block;
  height: 2px;
  background-color: rgb(44, 194, 214);
  width: 0;
  transition: width 0.3s ease-in-out;
  position: absolute;
  bottom: -4px;
  left: 0;
}
nav .links li a:hover:after {
  width: 100%;
}
nav .menu {
  display: none;
}
@keyframes jiggle {
  0%, 100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-9px);
  }
  50% {
    transform: translateX(9px);
  }
  75% {
    transform: translateX(-9px);
  }
}

.home .slider {
  position: relative;
}
.home .slider .images_slider {
  position: absolute;
  width: 100%;
}
.home .slider .images_slider img {
  width: 100%;
  height: 100vh;
}
.home .slider .images_slider .slider_content {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
}

.about h3 {
  font-size: 1.3rem;
  text-align: center;
}
.about .about_content {
  justify-content: space-between;
}

.gallery {
  display: none;
}

.contact {
  display: none;
}

.end {
  display: none;
}

@media screen and (width <= 768px) {
  body {
    overflow-x: hidden;
  }
  header nav {
    height: 8vh;
  }
  header nav .logo {
    text-transform: uppercase;
    display: flex;
    justify-content: left;
    color: #fff;
    font-size: 1rem;
  }
  header nav .links {
    position: absolute;
    top: 8vh;
    right: 0;
    height: 80vh;
    background: rgba(136, 119, 136, 0.4666666667);
    -webkit-backdrop-filter: blur(4px);
            backdrop-filter: blur(4px);
    display: flex;
    flex-direction: column;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
  }
  header nav .links li {
    opacity: 0;
    list-style: none;
  }
  header nav .links li a {
    text-decoration: none;
    padding: 1.9em 0;
    color: #fff;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  header nav .links li a:after {
    content: "";
    display: block;
    height: 2px;
    background-color: rgb(44, 194, 214);
    width: 0;
    transition: width 0.3s ease-in-out;
    position: absolute;
    bottom: -4px;
    left: 0;
  }
  header nav .links li a:hover:after {
    width: 40%;
    left: 30%;
  }
  header nav .menu {
    position: absolute;
    right: 1.2em;
    display: block;
    cursor: pointer;
  }
  header nav .menu .fa-times, header nav .menu .fa-bars {
    font-size: 1.5em;
  }
  header nav .nav-active {
    transform: translateX(0%);
  }
  @keyframes linksfade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  .slider .images_slider {
    position: absolute;
    z-index: -10;
  }
  .slider .images_slider img {
    width: 100%;
    height: 55vh;
    opacity: 0.69;
  }
  .slider .images_slider .slider_content {
    position: absolute;
    top: 30%;
    left: 24%;
    color: #fff;
  }
  .slider .images_slider .slider_content h2 {
    font-size: 1.9rem;
  }
  .slider .images_slider .slider_content p {
    font-size: 1.4em;
    font-weight: 455;
    margin-bottom: 0.9em;
  }
  .slider .images_slider .slider_content a {
    text-decoration: none;
    color: #fff;
    padding: 0.5em 0.6em;
    background: #2828e7;
    border-radius: 8px;
  }
  .about {
    padding: 0.9em 5%;
    display: none;
  }
  .about h3 {
    text-align: center;
    font-weight: bold;
    margin: 0.3em 0;
    font-size: 1.5em;
  }
  .about .about_content .about_video {
    width: 100%;
  }
  .about .about_content .about_video video {
    width: 100%;
    border-radius: 8px;
  }
  .about .about_content .about_info h2 {
    text-align: center;
    color: #28e7e7;
  }
  .about .about_content .about_info .black_dot {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px 0;
  }
  .about .about_content .about_info .black_dot .dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #000;
    margin: 0 5px;
  }
  .about .about_content .about_info p {
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 0.9em;
  }
  .about .about_content .about_info a {
    text-decoration: none;
    align-self: center;
    font-size: 1.3rem;
    color: #28e7e7;
    padding: 0.2em 0.6em;
    background: #000;
  }
  .gallery {
    display: none;
  }
  .contact {
    display: none;
  }
  .end {
    display: none;
  }
}/*# sourceMappingURL=styles1.css.map */