*{
    padding:0;
    margin:0;
    font-family:'Times New Roman', Times, serif;
    box-sizing: border-box;
}
body{
    background: #000;
}
header{ 
    position:sticky;
    top:0;
    z-index:1000;

.nav_content{
    padding:0.9em 5%;
    
    p{
        color:rgb(44, 194, 214);
        font-size: 1.2rem;
        margin-right: 400px;
        animation:jiggle 0.95s ease-in-out infinite;
    }
    ul{
        display:flex;
        flex-direction: row;
        gap:1.2em;
        justify-content:right;
        text-transform: uppercase;
       
        li{
            list-style: none;

            a{
                text-decoration:none;
                color:#fff;
                position: relative;
            }
            
            a:after {
                content: "";
                display: block;
                height: 2px;
                background-color: rgb(44, 194, 214);
                width: 0;
                transition: width 0.3s ease-in-out;
                position: absolute;
                bottom: -4px;
                left: 0;
            }
            
            a:hover:after {
                width: 100%;
            }
        }
    }
}
}
.home {
   .slider{
    position: relative;
    width: 100%;
    height: 100vh;
        .images_slider {
          position: absolute;
          width: 100%;
          height: 100vh;
            img {
                width: 100%;
                height: 100vh;
                opacity:0.7;
            }

            .slider_content {
                position: absolute;
                top: 50%; 
                left: 50%;
                transform: translate(-50%, -50%); 
                color: #fff;

                h2 {
                    font-size: 4rem;
                    padding-bottom: 0.3em;
                }
                p {
                    font-size: 1.8rem;
                    padding-bottom: 0.6em;
                }
                a {
                    text-decoration: none;
                    color: #fff;
                    padding: 0.5em 0.9em;
                    background: rgb(32, 40, 254);
                    border-radius: 8px;
                }
                a:hover {
                    background: chocolate;
                }
            }
        }
        .navigator{
            position: absolute;
            top: 50%;
            width: 100%;
            display: flex;
            justify-content: space-between;
            transform: translateY(-50%);
            
            .arrows{
                font-size: 2rem;
                color: #fff;
                cursor: pointer;
                padding:0 1.2em;
            }
            .arrows:hover{
                color:rgb(44, 194, 214);
            }
        }
   }
}

.about{
    padding:0.9em 3%;
    background: #fff;

    .about_content{
        display:flex;
        flex-direction: row;
        gap:1.3em;
        opacity: 0;
        transform: translateY(20px);
        animation: fadeInUp 1s forwards;

        .about_video {
            position: relative;
            width: 100%;
            max-width: 700px;
            margin: 0 auto;

            video {
                width: 100%;
                border-radius: 10px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            }   
        }
        
        .about_info{
            margin:1.3em 0;

            h3{
                text-align: center;
                margin:0.4em 0;
                font-size: 1.4em;
            }
            h2{
                text-align: center;
                font-weight: 900;
                font-size: 2.2rem;
            }
            .black_dot{
                display:flex;
                justify-content: center;
                align-items: center;
                margin: 20px 0;

                .dot{
                    width: 5px;
                    height: 5px;
                    background-color: #000;
                    border-radius: 50%;
                    margin: 0 5px;
                }
            }
            p{
                font-size: 1.3rem;
                line-height: 1.5;
                color: #4b4b4b; 
                margin-bottom: 0.9em;
            }
            a{
                display: inline-block;
                padding:0 30px;
                color: #089cff;
                text-decoration: none;
                font-size: 1.6rem;
                transition: 0.3s;
            }
            
            a:hover {
                color: #2980b9;
                transform: scale(1.2);
            }
            a:after{
                content: '\2192';
                margin-left:5px;
            }
           
        }
    }

}

.gallery{
    h2{
        padding:0.9em 0;
    }
    .gallery_image{
        padding: 0.9em 3%;
        display: grid;
        grid-template-columns: repeat(3, 2fr);
        gap:2em; 

        .gallery-info{
            position: relative;
            margin-bottom: 0.7em;
            overflow: hidden;
            border-radius: 18px;

            img{
                width: 95%;
                height: 68vh;
                border-radius: 18px;
                display: block;
                transition: transform 0.3s ease-in-out;
            }
            
            .content-g{
                width: 100%;
                height: 0;
                background: rgba(0, 0, 0, 0.85);
                position:absolute;
                left: 0;
                bottom: 0;
                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                padding: 0 40px;
                text-align: center;
                font-size: 14px;
                transition: height 0.5s;
                color: #fff;
                font-size: 1.3rem;
                border-radius: 18px;
            }
            &:hover {
                .content-g {
                    height: 100%;
                }
                img{
                    transform: scale(1.1);
                }
            }
        }

    }
}
  

.contact{
    padding:0.9em 3%;
    h1{
        color:#fe4f4f;
        padding:0.9em 0;
    }
    .contact_infor{
        display: grid;
        grid-template-columns: repeat(3, 2fr);
        gap:1.3em;
        color: #fff;

        p{
            font-size: 1.3rem;
            line-height: 1.3;
        }
        span{
            color:#fe4f4f;
        }
        .working{
            p{
                color:#b8b8b8;
            }
        }
        .input_group{
            display: flex;
            flex-direction: column;
           
            .names{
                display: flex;
                justify-content: space-between;
                gap:0.9em;
            }
            input[type="text"],
            input[type="email"],
            textarea {
                width: 100%;
                padding: 10px;
                margin: 5px 0;
                color: #666;
                border: 1px solid #5a5a5a;
                border-radius: 5px;
            }
        }
        button{
            padding:0.9em 1.3em;
            font-size: 0.9rem;
            color:#fff;
            background-color: #4b4b4b;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            margin-right: 20px;

            a{
                text-decoration: none;
                color:#fff;
            }

        }
    }
}
.end{
    .end_container{
        padding:0.9em 3%;
        margin:0.9em 0;
        display: grid;
        grid-template-columns: repeat(3, 2fr);
        gap:1.5em;
        background-color: #373737;
        height: 40vh;
        color:#fff;
        border-radius: 16px;

        .name{
            display: flex;
            justify-content: center;
            align-items: center;

            h1{
               text-align: center;
               color:#fff;
            }
        }
        .links{
            display:flex;
            flex-direction: column;
            gap:0.6em;
            justify-content: center;
            align-items: center;
            h1{
                color:#0f6cab;
            }

            a{
                text-decoration: none;
                color:#fff;
                font-size: 1.3rem;
            }
            a:hover{
                color: #0f6cab;
            }
        }
        .social_media{
            h1{
                color:#0f6cab;
                padding:0.9em 0;
            }
            .icon{
                color:#fff;
                font-size: 1.4rem;
                display: flex;
        
                a{
                    text-decoration: none;
                    color:#e1e1e1;
                    margin-top:0.7em;
                        
                    i{
                        margin-left: 30px;
                    }
                    i:hover{
                        color: #0f6cab;
                    }
                } 
            }
        }
    }
    .footer{
        color:#fff;
        text-align: center;
        margin-top: 0;
        padding:10px;
        background-color:#222;
    }
}

// animations for the name of the system lawrence coffee shop
@keyframes jiggle {
    0%, 100% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-9px);
    }
    50% {
        transform: translateX(9px);
    }
    75% {
        transform: translateX(-9px);
    }
}

// our story animation
@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@import '_about';
@import '_menu';

@media screen and (width <= 720px){
    .nav_content{
        display:none;
    }
    .slider{
        .image_slider{
            img{
                width: 100%;
                height: 70vh;
            }
        }
    }
   .contact_infor{
    display:block;
   }
}